body,
html,
*{
    background-color: #a6bfdd;  
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body{
    font-size: 45px;
}

h2{
    font-size: 30px;
    display: flex;
    border: 10px solid #2060ac;
}